In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets

In [2]:
iris = datasets.load_iris()
df = pd.DataFrame(iris['data'])
df['category'] = iris.target
df.columns = ['sepal_length','sepal_widht','petal_length','petal_width','Category']

# Whole Table

In [3]:
# analysis of whole table 
df.describe()

       sepal_length  sepal_widht  petal_length  petal_width    Category
count    150.000000   150.000000    150.000000   150.000000  150.000000
mean       5.843333     3.057333      3.758000     1.199333    1.000000
std        0.828066     0.435866      1.765298     0.762238    0.819232
min        4.300000     2.000000      1.000000     0.100000    0.000000
25%        5.100000     2.800000      1.600000     0.300000    0.000000
50%        5.800000     3.000000      4.350000     1.300000    1.000000
75%        6.400000     3.300000      5.100000     1.800000    2.000000
max        7.900000     4.400000      6.900000     2.500000    2.000000

In [4]:
# displaying the categories
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

# Setosa

In [14]:
setosa = pd.DataFrame(df.loc[df['Category'] == 0])
setosa.head(2)

   sepal_length  sepal_widht  petal_length  petal_width  Category
0           5.1          3.5           1.4          0.2         0
1           4.9          3.0           1.4          0.2         0

In [8]:
# descibing setosa
setosa.describe()

       sepal_length  sepal_widht  petal_length  petal_width  Category
count      50.00000    50.000000     50.000000    50.000000      50.0
mean        5.00600     3.428000      1.462000     0.246000       0.0
std         0.35249     0.379064      0.173664     0.105386       0.0
min         4.30000     2.300000      1.000000     0.100000       0.0
25%         4.80000     3.200000      1.400000     0.200000       0.0
50%         5.00000     3.400000      1.500000     0.200000       0.0
75%         5.20000     3.675000      1.575000     0.300000       0.0
max         5.80000     4.400000      1.900000     0.600000       0.0

# Versicolor

In [12]:
versicolor = pd.DataFrame(df.loc[df['Category'] == 1])
versicolor.head(2)

    sepal_length  sepal_widht  petal_length  petal_width  Category
50           7.0          3.2           4.7          1.4         1
51           6.4          3.2           4.5          1.5         1

In [13]:
# descibing versicolor
versicolor.describe()

       sepal_length  sepal_widht  petal_length  petal_width  Category
count     50.000000    50.000000     50.000000    50.000000      50.0
mean       5.936000     2.770000      4.260000     1.326000       1.0
std        0.516171     0.313798      0.469911     0.197753       0.0
min        4.900000     2.000000      3.000000     1.000000       1.0
25%        5.600000     2.525000      4.000000     1.200000       1.0
50%        5.900000     2.800000      4.350000     1.300000       1.0
75%        6.300000     3.000000      4.600000     1.500000       1.0
max        7.000000     3.400000      5.100000     1.800000       1.0

# Virginica

In [15]:
virginica = pd.DataFrame(df.loc[df['Category'] == 2])
virginica.head(2)

     sepal_length  sepal_widht  petal_length  petal_width  Category
100           6.3          3.3           6.0          2.5         2
101           5.8          2.7           5.1          1.9         2

In [17]:
virginica.describe()

       sepal_length  sepal_widht  petal_length  petal_width  Category
count      50.00000    50.000000     50.000000     50.00000      50.0
mean        6.58800     2.974000      5.552000      2.02600       2.0
std         0.63588     0.322497      0.551895      0.27465       0.0
min         4.90000     2.200000      4.500000      1.40000       2.0
25%         6.22500     2.800000      5.100000      1.80000       2.0
50%         6.50000     3.000000      5.550000      2.00000       2.0
75%         6.90000     3.175000      5.875000      2.30000       2.0
max         7.90000     3.800000      6.900000      2.50000       2.0